/* Estilize as divs para que, ao passar o cursor por cima das mesmas, elas ganhem uma borda. */

div:hover{
    border: 4px solid aquamarine;
}

/* Faça cada div ter uma cor de fundo própria. */

div:nth-of-type(1) {
    background-color: green;
}
div:nth-of-type(2) {
    background-color: yellow;    
}

/* Faça a terceira div ser maior que as demais. */

div:nth-of-type(3) {
    background-color: purple; 
    font-size: 30px;   
}
div:nth-of-type(4) {
    background-color: blue;
}    
div:nth-of-type(5) {
    background-color: gray;    
}

/* Estilize cada uma das tags h3 da maneira que achar melhor (cor, tamanho, estilo e família). */

div:nth-of-type(1) > h3 {
    color: brown;
}

div:nth-of-type(2) > h3 {
    color: purple;
}

div:nth-of-type(3) > h3 {
    color: green;
}

div:nth-of-type(4) > h3 {
    color: blueviolet;
}

div:nth-of-type(5) > h3 {
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

/* Deixe as tags ímpares h3 com o texto em itálico. */

div:nth-child(odd) h3 {
    font-style: italic;
}